<div class="flights new">
<%= link_to("<< Back to List", {:controller => 'admins', :action =>'manage'}, :class => 'back') %>
<h2>Create Flights</h2>
<%= form_for(:flights, :url => {:action => 'create'}) do |f| %>
<%= render(:partial => "form", :locals => {:f => f }) %>
	<div class="form-buttons"> 
	</div>
<% end %>
</div>